parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	WPCompat:
		pluginFile: gp-project-icon.php
	scanFiles:
		# GlotPress Stubs
		- %rootDir%/../../pedro-mendonca/glotpress-stubs/glotpress-stubs.php
	paths:
		- gp-project-icon.php
		- includes/
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
