/* CSS for GP-Project-Icon. */
div.image-preview-wrapper {
	position: relative;
	display: inline-block;
}

#frontend-image {

	max-height: 128px;
	width: 128px;
	display: block;
	max-width: 100%;

	color: var(--gp-color-fg-default);

	border: 1px solid var(--gp-color-input-border);
	border-radius: 2px;
	box-shadow: none;
	background-color: var(--gp-color-canvas-default);
	background-color: var(--gp-color-primary-50);
	outline: 0;
	object-fit: cover;
}

#frontend-button-clear {
	position: absolute;
	top: -12px;
	right: -12px;
	border: none;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
	padding: 0;
	min-height: unset;
	justify-content: center;
	align-items: center;
}

#frontend-button-clear span.dashicons.dashicons-no {
	vertical-align: bottom;
	//font-size: 18px;
	//line-height: 1em;

}

#frontend-button {
	display: block;
	z-index: 1;

	/*
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 128px;
	width: 128px;
	*/
}

.gp-content #projects dl dt a {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

.gp-content #projects dl dt a span.icon {
	margin-right: 0.2rem;

}

.gp-content #projects dl dt a span.icon img {

	background-color: var(--gp-color-primary-50);
}
